################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/packages
