################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/BSR.D365.WS2/BSR.D365.WS2.WebResources/.vs/BSR.D365.WS2.WebResources/FileContentIndex
/Code/BSR.D365.WS2/BSR.D365.WS2.WebResources/packages
