################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/packages
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Newtonsoft.Json.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/netstandard.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Microsoft.Xrm.Tooling.Connector.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Microsoft.Xrm.Sdk.Workflow.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Microsoft.Xrm.Sdk.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Microsoft.Xrm.Sdk.Deployment.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Microsoft.Win32.Primitives.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Microsoft.Rest.ClientRuntime.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Microsoft.IdentityModel.Clients.ActiveDirectory.Platform.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Microsoft.IdentityModel.Clients.ActiveDirectory.dll
/Code/BSR.D365.WS3/BSR.D365.WS3.WebResources/XrmDefinitelyTyped/Microsoft.Crm.Sdk.Proxy.dll
