<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="url" value="https://bsr-ws3-dev.crm11.dynamics.com/XRMServices/2011/Organization.svc" />
    <add key="method" value="ClientSecret"/>
    <add key="mfaAppId" value="bd44f58c-fa1a-4f58-a848-b24b3ef72719"/>
    <add key="mfaClientSecret" value="XXXX"/>
    <add key="mfaReturnUrl" value=""/>
    <add key="out" value="../typings/XRM" />
    <add key="solutions" value="" />
    <add key="entities" value="bsr_buildingprofessionapplication" />
    <add key="web" value="" />
    <add key="jsLib" value="../src/lib" />
  </appSettings>
</configuration>